/* line 1, ../sass/mobile.scss */
.main-container {
  width: 240px;
}

/* line 5, ../sass/mobile.scss */
.main-content {
  margin-top: 20px;
}

/* line 9, ../sass/mobile.scss */
.main-description {
  margin-top: 20px;
}

/* line 13, ../sass/mobile.scss */
.main-stinger {
  margin: 20px 0px 5px;
  font-size: 22px;
}

/* line 18, ../sass/mobile.scss */
.main-signup-box {
  width: 220px;
}

/* line 22, ../sass/mobile.scss */
.main-mailinglist-signup {
  width: 215px;
  height: 30px;
  font-size: 20px;
}

/* line 28, ../sass/mobile.scss */
.email-accepted, .email-rejected {
  left: -130%;
  top: 7px;
  font-size: 20px;
}

/* line 34, ../sass/mobile.scss */
.main-contact {
  font-size: 32px;
}
