/* CSS Reset */
/* line 14, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../sass/_reset.scss */
html {
  line-height: 1;
}

/* line 27, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 36, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 42, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 45, ../sass/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 50, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 54, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
html {
  background: url(../img/bg_full.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 12, ../sass/style.scss */
body {
  font-family: "PT Sans", sans-serif;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-gcwowm");
  src: url("fonts/icomoon.eot?#iefix-gcwowm") format("embedded-opentype"), url("fonts/icomoon.woff?-gcwowm") format("woff"), url("fonts/icomoon.ttf?-gcwowm") format("truetype"), url("fonts/icomoon.svg?-gcwowm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 28, ../sass/style.scss */
.main-container {
  background: rgba(18, 18, 18, 0.5);
  width: 540px;
  position: absolute;
  right: 7%;
  margin-top: 0px;
  margin-bottom: 6px;
  text-align: center;
  color: #fffeff;
  font-size: 16px;
}

@media (max-width: 800px) {
  /* line 42, ../sass/style.scss */
  html {
    background: url(../img/bg_ipad.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* line 50, ../sass/style.scss */
  .main-container {
    position: relative;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* line 59, ../sass/style.scss */
  .main-description {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (max-width: 600px) {
  /* line 67, ../sass/style.scss */
  .main-description {
    font-size: 15px;
  }
}
/* line 72, ../sass/style.scss */
.logo {
  margin-top: 32px;
}

/* line 76, ../sass/style.scss */
.main-header {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* line 84, ../sass/style.scss */
.main-content {
  margin-top: 44px;
}

/* line 88, ../sass/style.scss */
.main-description {
  margin-top: 30px;
  letter-spacing: 0.7px;
  line-height: 22px;
  margin-left: 10%;
  margin-right: 10%;
}

/* line 96, ../sass/style.scss */
.main-stinger, .main-contact {
  letter-spacing: 1px;
}

/* line 100, ../sass/style.scss */
.main-stinger {
  margin: 40px 0px 16px;
  font-size: 33px;
  letter-spacing: 2px;
  color: white;
}

/* line 107, ../sass/style.scss */
.main-signup-box {
  position: relative;
  width: 330px;
  margin: auto;
}

/* line 113, ../sass/style.scss */
.main-mailinglist-signup {
  width: 325px;
  height: 38px;
  border: 0;
  outline: none;
  padding: 3px 6px 3px 6px;
  border-radius: 8px;
  background-color: rgba(18, 18, 18, 0.5);
  font-size: 22px;
  color: rgba(230, 230, 230, 0.5);
}
/* line 124, ../sass/style.scss */
.main-mailinglist-signup:focus {
  background-color: rgba(18, 18, 18, 0.6);
}

/* line 129, ../sass/style.scss */
.email-accepted, .email-rejected {
  display: none;
  position: relative;
  padding: 0;
  margin: 0;
  left: 350px;
  bottom: 30px;
  font-size: 16px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 151, ../sass/style.scss */
.email-accepted:before, .email-rejected:before {
  position: absolute;
}
/* line 155, ../sass/style.scss */
.email-accepted.visible, .email-rejected.visible {
  display: inline;
}

/* line 160, ../sass/style.scss */
.email-accepted:before {
  content: "\e603";
  color: #becd74;
}

/* line 165, ../sass/style.scss */
.email-rejected:before {
  content: "\e604";
  color: #e94141;
}

/* line 170, ../sass/style.scss */
.main-contact {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 2px;
  padding-bottom: 90px;
}

/* line 178, ../sass/style.scss */
a {
  color: #fffeff;
  text-decoration: none;
}

/* line 183, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 187, ../sass/style.scss */
.button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px 13px;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  color: #fff;
  background-color: #3fb8e8;
}
/* line 200, ../sass/style.scss */
.button:hover {
  background-color: #1baae3;
}
/* line 203, ../sass/style.scss */
.button:active {
  box-shadow: 0px 1px 0px 0px #3293ba;
  margin-bottom: -1px;
}

/* line 209, ../sass/style.scss */
br {
  height: 10px;
}
