.main-container {
	width: 240px;
}

.main-content {
	margin-top: 20px;
}

.main-description {
	margin-top: 20px;
}

.main-stinger {
	margin: 20px 0px 5px;
	font-size: 22px;
}

.main-signup-box {
	width: 220px;
}

.main-mailinglist-signup {
	width: 215px;
	height: 30px;
	font-size: 20px;
}

.email-accepted, .email-rejected {
	left: -130%;
	top: 7px;
	font-size: 20px;
}

.main-contact {
	font-size: 32px;
}